.meal {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  height: 10rem;

  &__group {
    margin-bottom: 5px;

    & > * {
      margin-bottom: 5px;
    }
  }

  &__name {
    font-size: 1.5rem;
  }

  &__description {
    font-size: 1.3rem;
    font-style: italic;
  }

  &__price {
    font-size: 1.6rem;
    font-weight: bolder;
    color: #c67d47;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__group {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & label {
        margin-right: 1rem;
        font-size: 1.5rem;
        font-weight: bolder;
      }
      & input {
        width: 3rem;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        margin: 0;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        border-radius: 5px;
      }
    }
    &__submit {
      width: 8rem;
      margin-top: 1rem;
      padding: 0.3rem 1.5rem;
      background-color: #7f2609;
      color: white;
      font-weight: bolder;
    }
  }
}
